<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat Read Watch</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s4">
                <i class="large material-icons">local_dining</i>
            </div>
            <div class="col s4">
                <i class="large material-icons">local_library</i>
            </div>
            <div class="col s4">
                <i class="large material-icons">local_movies</i>
            </div>
        </div>

	    {{{ body }}}

        <footer class="myFooter">
            <div class="footer-copyright">
                <div class="container">
                    <span class="grey-text text-lighten-4">© 2018 jkhwu</span>
                    <a class="grey-text text-lighten-4 right" href="https://github.com/jkhwu/eat-read-watch">Github</a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>